{% extends 'base.html' %}

{% block css %}   
{% endblock %}
{% load static %}  

{% block contenido %}

<div class="titulo-novedades mt-5">Novedades</div>
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center mb-4">
        {% for juego in juegos %}
        <div class="col mb-4">
            <form method="post" action="{% url 'vista_carrito' %}">
                {% csrf_token %}
                <!-- Se almacenan los datos del juego en específico -->
                <input type="hidden" name="codigo_invent" value="{{ juego.codigo_invent }}">
                <input type="hidden" name="juego_nombre" value="{{ juego.nombre }}">
                <input type="hidden" name="juego_precio" value="{{ juego.precio }}">
                <input type="hidden" name="juego_imagen_url" value="{{ juego.imagen.url }}">

                <img src="{{ juego.imagen.url }}" alt="{{ juego.nombre }}" class="img-fluid">
                <h4 style="color: black;" class="text-center">{{ juego.nombre }}</h4>
                <p style="color: black; font-size: 20px;" class="text-center">Precio: ${{ juego.precio }}</p>
                <button type="submit" class="btn btn-primary">Añadir al Carrito</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>







{% endblock %}
