{% extends 'base.html' %}

{% block css %}   
{% endblock %}

{% block contenido %}

<br>
<div class="titulo-novedades"> listado de usuarios - {{ request.user.username }}</div>
<br>
<div class = "container">
        {%if request.user.username == 'admin'%}
            <a href="{% url 'formulario' %}" class="btn btn-primary">Crear Nuevo Ususario</a>
            
        {% endif %}
        
    <div class= "row">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
            {{ message }}
            <button type= "button" class="btn-close" data-bs-dissmiss="alert" aria-label="close"></button>
          </div>
        {% endfor %}
        {% endif %}
        <br>
        <table class="table box3">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE USUARIO</th>
                <th scope="col">EMAIL</th>
                <th scope="col">Rol</th>
                {%if request.user.username == 'admin'%}
                <th scope="col"></th>
                <th scope="col"></th>
                {% endif %}
                </tr>
            </thead>
        <tbody>
            {% for usuario in user %}
            <tr>
                <th scope="row">{{usuario.id}}</th>
                <td>{{usuario.username}}</td>
                <td>{{usuario.email}}</td>
                <td>{% if usuario.userprofile.role %}
                {{usuario.userprofile.role}}
                {% else %}
                    Sin rol asignado
                {% endif %}
                </td>
                {%if request.user.username == 'admin'%}
                <td><a href= "{% url 'editar_datos' usuario.id %}">Editar</a></td>
                <td><a href= "{% url 'eliminar_usuario' usuario.id %}">Eliminar</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<br>
<br>
<br>
<script>
    $(document).ready(function () {
        // Cierra automáticamente las alertas después de 5 segundos
        $(".alert").delay(5000).slideUp(300, function () {
            $(this).alert('close');
        });

        // Cierra manualmente las alertas cuando se hace clic en el botón de cierre
        $(".alert .btn-close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".alert").slideUp(300, function () {
                $(this).alert('close');
            });
        });
    });
</script>
{% endblock %}

