{% extends 'base.html' %}

{% block css %}   
{% endblock %}

{% load static %}  

{% block contenido %}

<div class="titulo-novedades mt-5 mb-5">Venta Realizada</div>
<div class="container">
        <div class="gray-background">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8 contenedor-pago">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-10">
                                <table class="table mt-4" style="background-color: transparent;">
                                    <thead>
                                        <tr>
                                            <th class="text-center align-middle">Código</th>
                                            <th class="text-center align-middle">Nombre</th>
                                            <th class="text-center align-middle">Cantidad</th>
                                            <th class="text-center align-middle">Precio</th>
                                        </tr>
                                    </thead>
                                    
                                        <tbody>
                                            {% for item in carrito %}
                                                <tr>
                                                    <td class="text-center align-middle">{{ item.codigo_invent }}</td>
                                                    <td class="text-center align-middle">{{ item.nombre }}</td>
                                                    <td class="text-center align-middle">{{ item.cantidad }}</td>
                                                    <td class="text-center align-middle">${{ item.precio }}</td>
                                                </tr>
                                                {% endfor %}
                                                {% comment %} Calcular y mostrar el subtotal de cada artículo {% endcomment %}
                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td class="text-center align-middle">
                                                        Subtotal Total: ${{ subtotal_total|floatformat:0 }}
                                                    </td>
                                                </tr>
                                            
                                        </tbody>
                                    
                                </table>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="d-grid gap-2 col-4 mx-auto mt-5">
                    <a class="btn btn-warning" href="{% url 'home' %}" type="button">Volver al Inicio</a>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
</div>

<div class="col-12 text-center mt-3">
    <img src="{% static 'imagenes/graciasCompra.png' %}" alt="Gracias por comprar"></a>
</div>

{% endblock %}