{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block contenido %}

<div class="container">
    <div>
        <h2 class="text-center titulo-novedades pt-5 mb-4">Carrito</h2>
        {% if carrito %}
        <form method="post" action="{% url 'vista_carrito' %}" class="cart-form">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th class="sr-only text-center">Imagen</th>
                        <th class="text-center align-middle">Nombre</th>
                        <th class="text-center align-middle">Cantidad</th>
                        <th class="text-center align-middle">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in carrito %}
                        <tr>
                            <td class="text-center align-middle"><img src="{{ item.imagen_url }}" alt="{{ item.nombre }}" style="width: 150px; height: auto;"></td>
                            <td class="text-center align-middle">{{ item.nombre }}</td>
                            <td class="text-center align-middle">
                                
                                <span class="quantity" data-product-code="{{ item.codigo_invent }}">{{ item.cantidad }}</span>
                                
                                <input type="hidden" name="codigo_invent" value="{{ item.codigo_invent }}">
                            </td>
                            <td class="text-center align-middle">${{ item.precio }}</td>
                            <td class="align-middle">
                                <button type="submit" name="eliminar_del_carrito" value="Eliminar" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-9"></div>
                <div class="col" style="font-size: 20px;">
                    Subtotal: $ <span id="subtotal">{{ request.session.subtotal }}</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="d-grid gap-2 col-4 mx-auto mt-5">
                        <a class="btn btn-warning" href="{% url 'home' %}" type="button">Seguir comprando</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-grid gap-2 col-4 mx-auto mt-5">
                        <button class="btn btn-primary" name="continuar" type="submit">Continuar</button>
                    </div>
                </div>
            </div>
        </form>
        {% else %}
            <p style="color: black; font-size: 20px;" class="text-center mt-5">No hay productos en el carrito.</p>
        {% endif %}
    </div>
</div>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Manejo de la cantidad de productos en el carrito
        $(".cart-form").on("click", ".add-quantity, .subtract-quantity", function () {
            var row = $(this).closest("tr");
            var quantitySpan = row.find(".quantity");
            var productCode = quantitySpan.data("product-code");
            var quantity = parseInt(quantitySpan.text());

            if ($(this).hasClass("add-quantity")) {
                quantity++;
            } else if ($(this).hasClass("subtract-quantity") && quantity > 1) {
                quantity--;
            }

            quantitySpan.text(quantity);

            // Actualizar el valor del campo oculto
            row.find('input[name="cantidad"]').val(quantity);
            
            // Actualizar el subtotal
            updateSubtotal();
        });

        function updateSubtotal() {
            var subtotal = 0;
            $(".cart-form tbody tr").each(function () {
                var quantity = parseInt($(this).find(".quantity").text());
                var price = parseFloat($(this).find(".text-center.align-middle:last").text().replace("$", ""));
                subtotal += quantity * price;
            });

            $("#subtotal").text(subtotal.toFixed(0));
        }
    });
</script>

{% endblock %}
