{% extends 'base.html' %}

{% block css %}
    
{% endblock %}

{% block contenido %}
  <center>
    <br>
    <h1 class="titulo-novedades">Juegos {{ juego.nombre }}</h1>
    <br>
    <div class="container">
      <div class="col-12 col-sm-6 col-md-6">
        <div class="card-header">
          <img src="{{ juego.imagen.url }}" class="card-img-top" alt="" class="...">
          <div class="card-body">
            <br>
            <h2 class="card-title">{{ juego.nombre }}</h2>
            <br>
            <p class="card-text texto-negro">{{ juego.descripcion }}</p>
            <br>
            {% if juego.id == 62 %}
              <a href="{% url 'detalle_juego_api' %}" class="boton2">Personajes</a>
            {% endif %}
            {% if juego.id == 63 %}
              <a href="{% url 'personajes_juego_api' %}" class="boton2">Personajes</a>
            {% endif %}
          </div>
        </div>
        <div>
          <h2 class="texto-negro">Valor del juego $ {{ juego.precio }}</h2>
          
          <form method="post" action="{% url 'juegos_show' id=juego.id %}">
            {% csrf_token %}
            <input type="hidden" name="codigo_invent" value="{{ juego.codigo_invent }}">
            <input type="hidden" name="nombre" value="{{ juego.nombre }}">
            <input type="hidden" name="precio" value="{{ juego.precio }}">
            <input type="hidden" name="imagen_url" value="{{ juego.imagen.url }}">
            <br>
            <button type="submit" class="boton">Añadir a Carrito</button>
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>
  </center>

 
{% endblock %}

